In [15]:
import pandas as pd
import os
import re

In [57]:
inverters = {
    'inv01':'wms01',
    'inv02':'wms01',
    'inv03':'wms01',
    'inv04':'wms01',
    'inv05':'wms01',
    'inv06':'wms02',
    'inv07':'wms02',
    'inv08':'wms02',
    'inv09':'wms02',
    'inv10':'wms02',
}

files_reqd = ['today_energy_data', 'temp_data', 'irradiance_data']

In [62]:
def create_combined_df(year):
#     Based on your system change the path here.
    dirpath = f'Data/Required Data Yearwise/{year} Required'
    filenames = os.listdir(dirpath)

    combined_df = pd.DataFrame()
    for outind, inverter in enumerate(inverters.keys()):
        reqd_files = [filename for filename in filenames if (inverter in filename) or (inverters[inverter] in filename)]

        inv_df = pd.DataFrame()
        for ind, file in enumerate(reqd_files):
            df = pd.read_csv(f"{dirpath}/{file}")
            df.drop(['Signal', 'Timestamp'], axis=1, inplace=True)
            names = re.match("\d+_index_\d+_([^_]+)_([^.]+)", file).groups()
            df.rename(columns={'Value': f'{"wms_temp" if ("wms" in file) and ("temp" in file) else names[1]}'}, inplace=True)
            if ind == 0:
                inv_df = df
                inv_df.loc[:,'Inverter'] = names[0]
                continue
            inv_df = inv_df.merge(df, on='Date')
        if outind == 0:
            combined_df = inv_df
            continue
        combined_df= combined_df.append(inv_df)
    combined_df.drop(['total_run_data', 'today_run_data'], axis=1, inplace=True)
    return combined_df

In [67]:
def combine_years():
    df_2020 = create_combined_df('2020')
    df_2021 = create_combined_df('2021')
    df_2020.loc[:,'year'] = '2020'
    df_2021.loc[:,'year'] = '2021'
    return df_2020.append(df_2021)

In [68]:
# This will give df with all the years and inverters data
df = combine_years()

In [74]:
df.head()

,Date,today_energy_data,Inverter,total_energy_data,temp_data,irradiance_data,wms_temp,year
0,2020-01-01 00:32:00,0.0,inv01,0.0,0.0,0.0,0.0,2020
1,2020-01-01 08:24:00,0.0,inv01,0.0,0.0,0.0,0.0,2020
2,2020-01-01 08:25:00,0.0,inv01,0.0,0.0,203.0,212.0,2020
3,2020-01-01 08:26:00,0.0,inv01,0.0,0.0,163.0,213.0,2020
4,2020-01-01 08:27:00,0.0,inv01,0.0,0.0,160.0,214.0,2020

In [75]:
df_2020 = create_combined_df('2020')
df_2021 = create_combined_df('2021')

In [76]:
df_2020.head()

,Date,today_energy_data,Inverter,total_energy_data,temp_data,irradiance_data,wms_temp
0,2020-01-01 00:32:00,0.0,inv01,0.0,0.0,0,0.0
1,2020-01-01 08:24:00,0.0,inv01,0.0,0.0,0,0.0
2,2020-01-01 08:25:00,0.0,inv01,0.0,0.0,203,212.0
3,2020-01-01 08:26:00,0.0,inv01,0.0,0.0,163,213.0
4,2020-01-01 08:27:00,0.0,inv01,0.0,0.0,160,214.0

In [77]:
df_2020.head()

,Date,today_energy_data,Inverter,total_energy_data,temp_data,irradiance_data,wms_temp
0,2020-01-01 00:32:00,0.0,inv01,0.0,0.0,0,0.0
1,2020-01-01 08:24:00,0.0,inv01,0.0,0.0,0,0.0
2,2020-01-01 08:25:00,0.0,inv01,0.0,0.0,203,212.0
3,2020-01-01 08:26:00,0.0,inv01,0.0,0.0,163,213.0
4,2020-01-01 08:27:00,0.0,inv01,0.0,0.0,160,214.0